@page "/"

<MediatorHandler OnCounterChanged="OnCounterChanged" 
                 OnDateChanged="OnDateChanged" />

<h1>Hello, world!</h1>

Welcome to your new app.

Current count : @count
<hr />
Current date : @date

@code {
  private int count;
  private DateTime date;

  void OnCounterChanged(int count)
  {
    this.count = count;
  }

  void OnDateChanged(DateTime date)
  {
    this.date = date;
  }
}